body {
    margin: 0;
    padding: 0;
}
.header{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #201f1b;
    height: 70px;
    border-bottom: 1px solid #c2c2c2;
}
.info-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
}
select{
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 30px;
}
option{
    padding: 5px;
}
.info-header .btn{
    display: flex;
    align-items: center;    
}
.info-header .btn button{
    background: linear-gradient(90deg,#e19e72 0%,#ffc570 100%);
    margin: 0 30px;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 25px;
    cursor: pointer;
}
.scrolled .header{
    background-color: white;
}
.scrolled img{
    border-radius: 5px;
}

.giaiPhap{
    background-color: #333;
    padding: 40px 0;
    border-bottom-left-radius: 30px ;
        border-bottom-right-radius: 30px ;
}
.giaiPhap-title{
    margin: 30px;
    padding-top: 40px;
}

.giaiPhap-title b{
    font-size: 40px;
    color: white;
}
.giaiPhap-title span{
    color: #e19e72;
}
.icon-giaiPhap{
    display: flex;
    margin-left: 50px;

}
.icon-giaiPhap i{
    color: #e19e72;
    padding-top: 8px;
}
.icon-giaiPhap p{
    padding-left: 10px;
    
}
.mid{
    margin-left: 20px;
    background-color: #fffcf5;
}
h2{
    font-size: 44px;
    margin: 0;
    margin-top: 20px;
}
.mid p{
    color: #535353;
    font-size: 26px;
    margin: 0;
    margin-top: 10px;
}
.info{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.content{
    box-shadow: 0 10px 24px 0 rgba(194, 136, 0, .14);
    border-radius: 15px;
    border: 1px solid transparent;
    margin: 0 10px;
}
.content img{
    border-top-left-radius: 15px; /* Bo góc trên bên trái */
    border-top-right-radius: 15px;
    cursor: pointer;
}
.info-content{
    padding: 24px 14px;
}
.info-content b{
    font-size: 24px;
    padding-bottom: 10px;
}
.info-content p{
    font-size: 18px;
    margin: 10px 0; 
    padding: 0;         
    width: 100%; /* Đặt chiều rộng của thẻ p bằng 100% */
    box-sizing: border-box; 
    text-align: justify; 
    /* căn chỉnh lề đều 2 bên */
}
.info-content:hover{
    background-color: #faf3e4;
}
.info-content h3:hover{
    text-decoration: underline;
    cursor: pointer;
}

.khacBiet{
    position: relative;
    margin-top: 100px;
    background: linear-gradient(76.02deg, #382e1a 0%, #1d1910 25.98%, #1d1910 78.68%, #49350e 100%);
    border-radius: 30px;
    
}
.khacBiet .btn{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    top: -30px;
    left: 50%;
    transform: translateX(-50%); /* Căn giữa theo chiều ngang */

}
.khacBiet .btn button{
    text-decoration: none;
    background: linear-gradient(90deg,#e19e72 0%,#ffc570 100%);
    font-size: 30px;
    padding: 10px 30px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
}
.title-khacBiet{
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 0 300px;
    padding-top: 60px;
}
.container{
    display: flex;
    padding: 80px 50px 80px 50px;
    margin-bottom: 50px;
}
.left-container{
    display: flex;
    flex-direction: column;
}
.mid-container img{
    width: 500px;
    height: 400px;
    margin: 30px 20px;
}
.right-container{
    display: flex;
    flex-direction: column;
}
.container b{
    font-size: 26px;
    color: white;
}
.container p{
    font-size: 20px;
    color: #c2c2c2;
    text-align: justify; 
}
.why-chosse{
    margin: 30px;
}
.block-title p{
    color: #535353;
}
.row{
    display: flex;
    margin-top: 30px
}
.row b{
    font-size: 26px;
}
.row p{
    font-size: 20px;
}
.right-row{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}
.right-row p{
    color: #535353;
}
.item{
    margin-top: 30px;
}

.footer{
    background: linear-gradient(#5c5b5b,#181818);
    /* background-color: #181818; */
    padding: 60px 40px;
    display: flex;
    justify-content: space-around;
    color: #c2c2c2;
}
.left-footer{
    width: 300px;
}
.info-left{
    display: flex;
    flex-direction: column;
}
.info-left b{
    color: white;
    font-size: 20px;
    padding: 10px 0;
}
.info-left a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: #c2c2c2;
    padding: 5px 0;
}
.public{
    margin-top: 30px;
}
.public b{
    color: white;
    font-size: 20px;
}
.icon{
    display: flex;
}
.icon i:hover{
    color: #e19e72;
}
.icon i{
    margin: 20px 10px;
    font-size: 30px;
    cursor: pointer;
}

.footer-logo img{
    margin-left: -10px;
    margin-bottom: 30px;
}
.footer-logo b{
    padding: 10px 0;
}
.right-footer{
    margin-left: 150px;
}
.right-footer b{
    padding: 20px 0;
}
.location{
    display: flex;
    margin-top: 10px;
}
.location b,p{
    color: #c2c2c2;
    font-size: 20px;
    margin: 5px 0;
    padding: 0;
}
.location p{
    margin-left: 5px;
}
.list-location p{
    padding: 0;
}
.list-location a{
    font-size: 20px;
    color: #c2c2c2;
    margin-left: 5px;
}
.list-location a:hover{
    color: #e19e72;
}